*{text-align: center; margin: 0; box-sizing: border-box; padding: 0;}

:root{
    --yellow: #cbcb00;
    --shade: rgba(0, 0, 139, 0.301);
}

h2{ 
    background: darkblue; color: white;
    padding: 10px 0;
    margin-bottom: 20px;
} 

p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.header{
    list-style: none;
    color: black; font-weight: bolder; padding: 10px;
    display: flex; background-color:  #00dddd48;
    justify-content: space-around; align-items: center;
    color:var(--yellow);
}
.header p { border: 3px dotted darkblue; padding: 15px 5px; border-radius: 50%;}
.header a{
    margin-left: 10px; text-decoration: none;
}
form{ margin-top: 30px;}
form input{
    border: none; border-bottom: 1px dotted darkblue; font-size: 1rem; margin-right: 10px; line-height: 42px;
}
form input:focus{
    outline: none;
    border: none; background-color: var(--shade);
}
form button{
    border: none; padding: 10px; height: 42px;
    background:none; 
    box-shadow: 0 0 1px 1px var(--shade);
}
.data{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-size: 1.2rem;
    line-height: 26px; padding: 10px;
}